# Main team administering overall repo
*           @morgante @aaron-lane @ocsig

# Deployment Manager Reviewers
/dm/        @morgante @ocsig @sjvanrossum

# CLI owners
/cli/       @morgante

# Config Connector team
/config-connector/ @morgante @ocsig @AlexBulankou @maqiuyujoyce
