module github.com/terraform-google-modules/%s/test/integration

go 1.16

require (
	github.com/GoogleCloudPlatform/cloud-foundation-toolkit/infra/blueprint-test v0.4.0
	github.com/stretchr/testify v1.8.1
)
