# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# RANDOM_ID should not be defined in the environments file.
BILLING_ACCOUNT_ID: ${BILLING_ACCOUNT_ID?}
BUCKET_NAME: ${BUCKET_NAME?}
DEFAULT_NAMESPACE: ${DEFAULT_NAMESPACE?}
DEFAULT_PROJECT_ID: ${DEFAULT_PROJECT_ID?}
FOLDER_ID: ${FOLDER_ID?}
HOST_PROJECT_ID: ${HOST_PROJECT_ID?}
IAM_MEMBER: ${IAM_MEMBER?}
INSTANCE_NAME: ${INSTANCE_NAME?}
ORG_ID: ${ORG_ID?}
# PASSWORD needs to be base64-encoded.
PASSWORD: ${PASSWORD?}
PROJECT_ID: ${PROJECT_ID?}
SERVICE_PROJECT_ID: ${SERVICE_PROJECT_ID?}
USERNAME_1: ${USERNAME_1?}
USERNAME_2: ${USERNAME_2?}
USERNAME_3: ${USERNAME_3?}
