name: Flaky Build Finder Tests

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'infra/utils/fbf/**'
      - '.github/workflows/go-fbf-test.yml'

concurrency:
  group: '${{github.workflow}}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  unit:
    name: ${{ matrix.operating-system }} unit tests
    runs-on: ${{ matrix.operating-system }}
    defaults:
      run:
        shell: bash
        working-directory: 'infra/utils/fbf'
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: infra/utils/fbf/go.mod
        cache-dependency-path: infra/utils/fbf/go.sum
    - run: |-
        go test ./... -v
