name: lint
on:
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/go-lint.yaml"
      - "cli/**"
      - "infra/blueprint-test/**"
permissions:
  contents: read

concurrency:
  group: '$${{ github.workflow }}-$${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: [cli, infra/blueprint-test]
    steps:
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: '1.20'
          cache: false
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50 # v2.11.1
        id: changes
        with:
          filters: |
            src:
              - ${{ matrix.folder }}/**
              - ".github/workflows/go-lint.yaml"
      - if: steps.changes.outputs.src == 'true'
        name: golangci-lint
        uses: golangci/golangci-lint-action@639cd343e1d3b897ff35927a75193d57cfcba299 # v3.6.0
        with:
          version: latest
          working-directory: ${{ matrix.folder }}
          args: --timeout=5m
