name: lint
on:
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/go-lint.yaml"
      - "cli/**"
      - "infra/blueprint-test/**"
      - "tflint-ruleset-blueprint/**"
permissions:
  contents: read

concurrency:
  group: '$${{ github.workflow }}-$${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: [cli, infra/blueprint-test, tflint-ruleset-blueprint]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@3041bf56c941b39c61721a86cd11f3bb1338122a # v5.2.0
        with:
          go-version-file: ${{ matrix.folder }}/go.mod
          cache-dependency-path: ${{ matrix.folder }}/go.sum
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            src:
              - ${{ matrix.folder }}/**
              - ".github/workflows/go-lint.yaml"
      - if: steps.changes.outputs.src == 'true'
        name: golangci-lint
        uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
        with:
          version: latest
          working-directory: ${{ matrix.folder }}
          args: --timeout=5m
