name: lint
on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/workflows/go-lint.yaml"
      - "cli/**"
      - "infra/blueprint-test/**"
      - "tflint-ruleset-blueprint/**"
      - 'infra/module-swapper/**'
permissions:
  contents: read

concurrency:
  group: '$${{ github.workflow }}-$${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        folder: [cli, infra/blueprint-test, tflint-ruleset-blueprint]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: changes
        with:
          filters: |
            src:
              - ${{ matrix.folder }}/**
              - ".github/workflows/go-lint.yaml"
      - if: steps.changes.outputs.src == 'true'
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: ${{ matrix.folder }}/go.mod
          cache-dependency-path: ${{ matrix.folder }}/go.sum
      - if: steps.changes.outputs.src == 'true'
        name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          working-directory: ${{ matrix.folder }}
          args: --timeout=5m
