name: Module Swapper Tests

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'infra/module-swapper/**'
      - '.github/workflows/go-module-swapper.yml'

concurrency:
  group: '${{github.workflow}}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  unit:
    name: ${{ matrix.operating-system }} unit tests
    runs-on: ${{ matrix.operating-system }}
    defaults:
      run:
        shell: bash
        working-directory: 'infra/module-swapper'
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: infra/module-swapper/go.mod
        cache-dependency-path: infra/module-swapper/go.sum
    - run: |-
        go test ./... -v
