name: CFT CLI Tests

on:
  push:
    branches:
      - 'master'
    paths:
      - 'cli/**'
      - '.github/workflows/test-cli.yml'
  pull_request:
    branches:
      - 'master'
    paths:
      - 'cli/**'
      - '.github/workflows/test-cli.yml'

concurrency:
  group: '${{github.workflow}}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  unit:
    name: ${{ matrix.operating-system }} unit tests
    runs-on: ${{ matrix.operating-system }}
    defaults:
      run:
        shell: bash
        working-directory: 'cli'
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
      with:
        go-version-file: cli/go.mod
        cache-dependency-path: cli/go.sum
    - run: |-
        make test
