name: CFT CLI Tests

on:
  push:
    branches:
      - 'master'
    paths:
      - 'cli/**'
      - '.github/workflows/**'
  pull_request:
    branches:
      - 'master'
    paths:
      - 'cli/**'
      - '.github/workflows/**'

concurrency:
  group: '${{github.workflow}}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  unit:
    name: CLI unit tests
    runs-on: ${{ matrix.operating-system }}
    defaults:
      run:
        shell: bash
        working-directory: 'cli'
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v2
      with:
        go-version: '~1.16'
    - run: |-
        go test ./... -v
